/*--------------------------------------------------------------
# Default Bootstrap Colors
--------------------------------------------------------------*/
$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$cyan:    #17a2b8 !default;
$darkgray: #4b5157 !default; 

$lightblue: #63BFE9 !default;

$mediumcyan: #63BFE9 !default;
$darkcyan: #0281C8 !default;
$mediumgray: #A0B7C2 !default;
$navy: #022675 !default;
$teal: #023A84 !default;


$mediumturquoise: #40b3ed;
$lightskyblue: #88d2f5;

$dodgerblue: #26a8ec;
$passgreen: #3ec9a6;
$passyellow: #c8b15c;
$passorange: #be7d4a;
$passred: #b64c55;

$btnblue: #0074bf; 
// $colors: (
//   blue: $blue,
//   indigo: $indigo,
//   purple: $purple,
//   pink: $pink,
//   red: $red,
//   orange: $orange,
//   yellow: $yellow,
//   green: $green,
//   teal: $teal,
//   cyan: $cyan,
//   white: $white,
//   gray: $gray-600,
//   gray-dark: $gray-800
// ) !default;

// $theme-colors: (
//   primary: $blue,
//   secondary: $gray-600,
//   success: $green,
//   info: $cyan,
//   warning: $yellow,
//   danger: $red,
//   light: $gray-100,
//   dark: $gray-800
// ) !default;
