.site-footer {
	padding: 0 30px;
    padding-top: 85px;
    margin-top: 4rem;
    background-image: linear-gradient(-180deg,#122a42 32%,#2d4257);
    background-color: $darkgray;
    color: $white;
}
.frow {
    display: flex;
    flex-flow: row wrap;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

footer .fcolumn>a {
    color: $white;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    padding-bottom: 14px;
}
footer a {
    color: hsla(0,0%,100%,.75);
    -webkit-transition: color .5s!important;
    transition: color .5s!important;
}
footer .prefooter {
    ul#techicons li {
        display: inline;
        padding-right: 25px;
    }
}
footer .social {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    padding: 90px 0 45px;

    .icons,
    .logo {
        padding: 9px 0;
    }
    ul#socialicons li {
        display: inline;
        padding-right: 25px;
    }
}
footer .subfooter {
    padding-top: 25px;

    .copyright,
    .seal,
    .legal {
        display: flex;
        justify-content: center;
        padding: 9px 0px;
    }
}

.recent-posts .widgettitle {
    text-align: center;
}
