.site-header {
	margin-bottom: 3em;
}
#hero {
	display:flex;
	justify-content: center;
	padding: 75px 10px 5px 10px;
}
nav {
	min-height: 60px;
	background-color: transparent;
}
.scrolled {
	background-color: #fff !important;
	transition: background-color 200ms linear;
	.nav-link,
	.navbar-brand > a {
		color: $black;
	}
}
.nav-link,
.navbar-brand > a {
	color: $white;
}
.jumbotron-heading {
	color: $white;
}
.jumbotron {
	background-color: transparent;
}
@media (min-width: 576px) {
	.jumbotron {
    	padding: 3rem 2rem 2rem 2rem;
	}
}
.text-muted {
	color: $darkgray !important;
}
#masthead {
	top: 0;
	height: 120px;
    left: 50%;
    padding: 30px 0;
    position: fixed;    
    width: 100%;
    z-index: 3;
}
.hero {
	background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.c1, .c2, .c3 {
	width: 500px;
	color: $black;
	padding: 15px 5px 5px 5px;
}
@media screen and (max-width: 480px) {
	.c1 {
		width: 100%;
	}
}
.shout-content {
	background-image: url('img/cta-background.svg');
	background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 1px solid hsla(0,0%,100%,.4);
    -webkit-box-shadow: 0 40px 50px 0 rgba(0,0,0,.11);
    box-shadow: 0 40px 50px 0 rgba(0,0,0,.11);
}
section {
    padding: 100px 0;
}
@media (max-width: 768px) {
	.navbar {
		background-color: $white !important;
		transition: background-color 200ms linear;
	}
	.nav-link,
	.navbar-brand > a {
		color: $black;
	}
	.fa.fa-bars {
		color: $black;
	}
	.navbar-toggler {
		border: 1px solid $black;
	}
	.navbar .navbar-toggler .navbar-toggler-icon {
		background-color: $white;
		color: $black;
		padding-top: 5px;
	}
}
@media (max-width: 424px) { 
	.jumbotron {
		padding-top: 80px;
	}
}