.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	margin-bottom: 4em;
	padding-bottom: 1em;
}
.post-thumbnail {
  margin-bottom: 1em;
  background-color: $mediumgray;
  min-height: 175px;
}
.card:hover {
	transition: .3s all ease-in-out;
	bottom: -2px;
}
.post-thumbnail a:hover,
.btn:hover {
  opacity: .5;
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.svg-inline--fa:hover {
  color: $lightskyblue;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.shout-content:hover {
  color: $lightskyblue;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.card-footer {
  border-right: 1px solid rgba(0,0,0,0.125);
  border-left: 1px solid rgba(0,0,0,0.125);
  border-bottom: 1px solid rgba(0,0,0,0.125);
}
.post-cats {
  font-size: 14px;
}
.widget_recent_entries ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.widget_recent_entries ul li,
.widget_archive ul li {
  padding: 12px 1px;
  border-bottom: 1px solid #e3e3e3;
  font-size: 0;
  text-transform: uppercase;

   a {
    color: $navy !important;
    font-size: 16px;
  }
}
.widget_categories ul li {
  padding: 12px 5px;
  border-bottom: 1px solid #e3e3e3;
  font-size: 0;
  text-transform: uppercase;

   a {
    color: $navy !important;
    font-size: 12px;
  }
}
.count {
    float: right;
    font-weight: bold;
    font-size: 14px;
    background-color: dodgerblue;
    color: $white;
    border-radius: 50px;
    padding: 0 8px;
    line-height: 1.4;
    cursor: default;
}
.widget_archive ul,
.widget_categories ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.entry-meta,
.entry-footer {
  font-size: .75rem;
  margin: .75em 0 2em;

  .svg-inline--fa {
    color: $gray-600;
    margin-right: .3em;
  }
  span {
    margin: 0 1.5em .4em 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $gray-600;

      &:hover {
        color: $gray-900;
      }
    }
  }
	.edit-link {
		.btn {
      		color: $white;

      	&:hover {
	        color: $white
	    }
	}
  }
}
/* Search Styles */
#search-2 {
  padding: 0 0 10px 0;
}
#recent-posts-2,
#archives-2,
#categories-2 {
  padding: 50px 0;
}
.btn-hdd {
  border-radius: 0px;
}
.search-field {
  border-radius: 0px;
   box-shadow: 0 0 20px 0 rgba(0,0,0,0.11);
}
/* Posts Navigation */
.nav-links {
	display: flex;
	justify-content: space-between;
}
.nav-previous,
.nav-next {
  display: inline-block;
  padding: 10px 15px;
  margin-right: -4px;
  background-color: $darkgray;
  text-align: center;
  margin-right: 15px;
   a {
     color: $white;
   }
}
/* Screenreaders */
.screen-reader-text {
	@include sr-only;
}

/* 404 page */
.error404 {
	.content-area {
		@include make-col-ready();
		@include make-col(12);
	}
}
