
/*--------------------------------------------------------------
## Layouts
--------------------------------------------------------------*/
@import "layout/content-sidebar";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "comments";

/*--------------------------------------------------------------
## Posts and Pages
--------------------------------------------------------------*/
@import "posts-and-pages";

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
@import "widgets";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";

#masthead {
	background: url('img/heroHomepage.svg');
	background-color: lightgray;
	height: 80vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.site-content {
	word-break: break-word;
}